@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

/* Global Color Vars */
:root {
    --main-primary:#4DA01C;
    --main-secondary:#121212;
    --dark-color:#1b1b1a;
    --gray-color:#b9b9b9;
}

* {
    margin-top: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

html, body {
    height: 100%;
}

html body {
    color: var(--main-primary);
    background-color: var(--main-secondary);
    margin: 0;
    padding: 0;
}

.text-dew {
  color: var(--main-primary) !important;
}

.topcontainer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
}

.maps {
    background-color: unset;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    text-align: right;
}

.main-header ul {
    margin: 0;
}

.header-text {
    background-color: rgba(0, 0, 0, 0);
}

.main-header {
    margin-top: 0;
    background-color: rgba(0,0,0,.6);
    background-image: url('../header-bg.jpg');
    background-blend-mode: multiply;
    text-align: center;
    font-size: 1.1em;
    background-size: cover;
    padding-bottom: 30px;
}

.container {
    width: 25%;
    float: left;
    text-align: left;
}

/* Dark-Mode Maps */
:root {
    --gm-button-background-color:white;
}
@media (prefers-color-scheme: dark) {
    :root {
        --gm-button-background-color:#1b1b1a;
    }
}

#googleMap .gm-control-active,
#googleMap .gm-style-mtc *, 
#googleMap .gm-svpc,
#googleMap .gm-style-iw.gm-style-iw-c,
#googleMap .gm-style-iw-a * {
    background-color: var(--gm-button-background-color) !important;
    color: var(--gray-color) !important;
}
/* GMaps Places Details Dialog */
#googleMap button.gm-ui-hover-effect,
#googleMap .gm-style-iw-tc {
    /* bottom triangle marker */
    background-color: transparent !important;
}
#googleMap button.gm-ui-hover-effect::after {
    content: "x";
    position: absolute;
    top: 3px;
    right: 12px;
    color: white;
    font-size: 1rem;
}
#googleMap button.gm-ui-hover-effect span {
    display: none !important;
}
#googleMap .gm-style-iw-d {
    overflow: hidden !important;
    padding: 0.5rem 1rem 0.5rem 0rem !important;
}

/* Bootstrap Additions */
.mw-0 {
    /* Useful for hiding the sidebar but not its toggle btn */
    max-width: 0% !important; 
}
.fw-600 {
    font-weight: 600 !important;
}

.btn-main {
    background-color: var(--main-primary) !important;
    border-color: var(--main-primary) !important;
    color: var(--main-secondary) !important;
    font-weight: 600!important;
}
.btn-main:hover {
    filter: brightness(85%);
}
.btn {
    transition: all 300ms ease-in-out !important;
}
.btn-primary {
    background-color: var(--main-primary) !important;
    border-color: var(--main-primary) !important;
    color: var(--main-secondary) !important;
    font-weight: 600 !important;
}
.btn:hover {
    filter: brightness(85%);
    transform: translateY(-0.2rem);
}
.custom-alert {
    position: absolute !important;
    left: 25%;
    right: 25%;
    top: 5%;
    text-align: center;
    z-index: 99;
}
