@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

/* Global Color Vars */
:root {
    --dark-color:#1b1b1a;
    --gray-color:#b9b9b9;
}

* {
    margin-top: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

html, body {
    height: 100%;
}

html body {
    color: #BB86FC;
    background-color: #121212;
    margin: 0;
    padding: 0;
}

.topcontainer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
}

.maps {
    background-color: unset;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    text-align: right;
}

.main-header ul {
    margin: 0;
}

.header-text {
    background-color: rgba(0, 0, 0, 0);
}

.main-header {
    margin-top: 0;
    background-color: rgba(0,0,0,.6);
    background-image: url('../header-bg.jpg');
    background-blend-mode: multiply;
    text-align: center;
    font-size: 1.1em;
    background-size: cover;
    padding-bottom: 30px;
}

.container {
    width: 25%;
    float: left;
    text-align: left;
}

/* Dark-Mode Maps */
:root {
    --gm-button-background-color:white;
}
@media (prefers-color-scheme: dark) {
    :root {
        --gm-button-background-color:#1b1b1a;
    }
}

#googleMap .gm-control-active,
#googleMap .gm-style-mtc *, 
#googleMap .gm-svpc,
#googleMap .gm-style-iw.gm-style-iw-c,
#googleMap .gm-style-iw-a * {
    background-color: var(--gm-button-background-color) !important;
    color: var(--gray-color) !important;
}

/* Bootstrap Additions */
.mw-0 {
    /* Useful for hiding the sidebar but not its toggle btn */
    max-width: 0% !important; 
}