<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's Decide!</title>
    <link rel="icon" type="image/png" href="static/icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <header class="main-header">
        <h1>Decide where to eat</h1>
    </header>
    <section class="topcontainer">
        You're going to: {{ restaurant }}<br><br><br>
    </section>
    <section class="topcontainer">
        <script>
            function resendForm() {
                location.reload();
            }
        </script>
        <input id="retry" type="button" value="Try again!" onclick="resendForm();" />
    </section>
</body>
</html>