{% import 'ui-components/sidebar-filters.html' as sidebar %}
{% extends 'base.html' %}

{% block title_suffix %} {% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ui/custom-checkbox.css') }}" />
{% endblock %}

{% block content %}
<p class="py-3 mx-auto my-0">Select areas you want to eat at.<br></p>
    
<div class="container-fluid d-flex flex-grow-1 pb-3">
    <div id="sidebar-container" class="col-2 px-0">
        {{ sidebar }}
    </div>
    <div id="map-container" class="col-10 px-0">
        <section id="googleMap" class="maps"></section>
    </div>
    </section>
</div>
{% endblock %}

{% block page_js %}
<script src="{{url_for('static', filename='js/CustomMapControl.js')}}"></script>
<script src="{{url_for('static', filename='js/MapsFunctions.js')}}"></script>
<script src="{{url_for('static', filename='js/rangeSlider.js')}}"></script>
{% endblock %}