<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's Decide!</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <header class="main-header">
        <h1 class="header-text">Decide where to eat</h1>
    </header>
    <p class="topcontainer">Click areas on the map you are willing to eat lunch at and select any categories we should exclude.<br></p>
    <section class="container">
        <form action="/destination" method="post" id="checks">
        <input type="checkbox" id="test1" name="hello" value="Tex-Mex">
        <label for="test1">Mexican</label><br>
        <input type="checkbox" id="test2" name="hello" value="Seafood">
        <label for="test2">Seafood</label><br>
        <input type="checkbox" id="test3" name="hello" value="Fast Food" checked>
        <label for="test3">Fast Food</label><br>
        <input type="checkbox" id="test4" name="hello" value="Chinese">
        <label for="test4">Chinese</label><br>
        <input type="checkbox" id="test5" name="hello" value="Pizzeria">
        <label for="test5">Pizza</label><br>
        <input type="checkbox" id="test6" name="hello" value="Wings">
        <label for="test6">Wings</label><br>
        <input type="checkbox" id="test7" name="hello" value="Burger">
        <label for="test7">Burgers</label><br>
        <input type="hidden" id="locations" name="locations" value="">
        <input type="submit" value="Tell me where to eat!"/>
        </form>
    </section>
    <section id="googleMap" class="maps"></section>
        <script>
            const markers = new Array();
            function myMap() {
                var mapProp= {
                center:new google.maps.LatLng(32.897500, -79.988046),
                zoom:12,
                styles: [
      { elementType: "geometry", stylers: [{ color: "#242f3e" }] },
      { elementType: "labels.text.stroke", stylers: [{ color: "#242f3e" }] },
      { elementType: "labels.text.fill", stylers: [{ color: "#746855" }] },
      {
        featureType: "administrative.locality",
        elementType: "labels.text.fill",
        stylers: [{ color: "#d59563" }],
      },
      {
        featureType: "poi",
        elementType: "labels.text.fill",
        stylers: [{ color: "#d59563" }],
      },
      {
        featureType: "poi.park",
        elementType: "geometry",
        stylers: [{ color: "#263c3f" }],
      },
      {
        featureType: "poi.park",
        elementType: "labels.text.fill",
        stylers: [{ color: "#6b9a76" }],
      },
      {
        featureType: "road",
        elementType: "geometry",
        stylers: [{ color: "#38414e" }],
      },
      {
        featureType: "road",
        elementType: "geometry.stroke",
        stylers: [{ color: "#212a37" }],
      },
      {
        featureType: "road",
        elementType: "labels.text.fill",
        stylers: [{ color: "#9ca5b3" }],
      },
      {
        featureType: "road.highway",
        elementType: "geometry",
        stylers: [{ color: "#746855" }],
      },
      {
        featureType: "road.highway",
        elementType: "geometry.stroke",
        stylers: [{ color: "#1f2835" }],
      },
      {
        featureType: "road.highway",
        elementType: "labels.text.fill",
        stylers: [{ color: "#f3d19c" }],
      },
      {
        featureType: "transit",
        elementType: "geometry",
        stylers: [{ color: "#2f3948" }],
      },
      {
        featureType: "transit.station",
        elementType: "labels.text.fill",
        stylers: [{ color: "#d59563" }],
      },
      {
        featureType: "water",
        elementType: "geometry",
        stylers: [{ color: "#17263c" }],
      },
      {
        featureType: "water",
        elementType: "labels.text.fill",
        stylers: [{ color: "#515c6d" }],
      },
      {
        featureType: "water",
        elementType: "labels.text.stroke",
        stylers: [{ color: "#17263c" }],
      },
    ],
                };
                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

                map.addListener("click", (e) => {
                    new google.maps.Marker({
                        position: e.latLng,
                        map: map,
                    });
                    markers.push(e.latLng);
                    console.log(markers[0]);
                });
            }


            const form = document.getElementById('checks');
            form.addEventListener('submit', (event) => {
                event.preventDefault();
                if (markers.length < 1) {
                    alert('Please select at least one area to search');
                    return;
                }
                form.elements['locations'].value = JSON.stringify(markers);
                form.submit();
            });
        </script>

        <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpM9i6rEuu08XDHZResHfdipdODmtrtz4&callback=myMap">
        </script>
</body>
</html>